/vendor/
/node_modules/
/public/storage
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
!/storage/framework/cache
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
!/storage/framework/testing
/storage/framework/testing/*
!/storage/framework/views
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
.env
.phpunit.result.cache
composer.lock
